.to-index-btn
  position fixed
  right 7px
  bottom 100px
  width 40px
  height 40px
  z-index 100
  // border-radius 50%
  background url('https://n1image.hjfile.cn/res7/2020/03/21/2452e68b8f0f1cf6d5061582c9d524a8.png') no-repeat
  background-size 40px
