// 去除prefix
vendors = official

@keyframes fadeIn
  0%
    opacity 0

  100%
    opacity 1

.to-top-btn
  position fixed
  right 7px
  bottom 90px
  width 54px
  height 54px
  z-index 100
  border-radius 50%
  background url('https://n1image.hjfile.cn/res7/2018/11/29/dda378bd2e5bb8c6ec837a67cdb431ef.png') no-repeat
  background-size 54px
  animation fadeIn .3s ease forwards
