// 去除prefix
vendors = official

@keyframes fadeIn
  0%
    opacity 0

  100%
    opacity 1

.to-top-btn
  position fixed
  right 0
  bottom 90px
  width 37px
  height 37px
  z-index 100
  border-radius 50%
  background url('https://image-hosting.xiaoxili.com/img/20200812132241.png') no-repeat
  background-size 37px
  animation fadeIn .3s ease forwards
