.image-wrap
  margin 44px auto 0
  width 300px
  height 300px
  border-radius 20px
  box-shadow 0 6px 8px rgba(161, 161, 161, 0.5)

.image-inner
  position relative
  overflow hidden
  border-radius 20px

.image-selected
  width 300px
  height 300px


.shape-container
  height 100px
  width 100px
  position absolute
  left 0
  top 0
  border dashed 1px yellow

.shape-image
  width 100%
  height 100%

.shape-btn-resize,
.shape-btn-remove 
.shape-btn-checked
.shape-btn-reverse
  position absolute
  z-index 1
  width:20 * 1.3px
  height:20 * 1.3px

.shape-btn-resize 
  right 0
  bottom 0
  margin-right -10 * 1.3px
  margin-bottom -10 * 1.3px
  background url(https://image-hosting.xiaoxili.com/img/20200812132758.png) no-repeat center / contain
  
.shape-btn-remove 
  left 0
  top 0
  margin-left -10 * 1.3px
  margin-top -10 * 1.3px
  background url(https://image-hosting.xiaoxili.com/img/20200812133019.png) no-repeat center / contain


.shape-btn-checked 
  right 0
  top 0
  margin-right -10 * 1.3px
  margin-top -10 * 1.3px
  background url(https://image-hosting.xiaoxili.com/img/20200812133039.png) no-repeat center / contain

.shape-btn-reverse
  left 0
  bottom 0
  margin-left -10 * 1.3px
  margin-bottom -10 * 1.3px
  background url(https://image-hosting.xiaoxili.com/img/20200812133255.png) no-repeat center / contain


.button-wrap
  margin 20px auto 0
  width 330px
  height 54px
  display flex
  justify-content space-evenly
  font-size 12px
  color #2f3742
  line-height 1.5
  text-align center

.button
  display block
  overflow visible
  font-size 12px
  line-height 1.5
  text-align center
  &:before
    content ''
    display block
    width 60px
    height 60px
    background #ffffff
    box-shadow 0 0 12px #EFEFEF
    background-position center
    background-repeat no-repeat
    border-radius 50%
    margin-bottom 3px

.button-remove:before
  background-image url(https://image-hosting.xiaoxili.com/img/img/20200902/608c4bd03c0200805a6b414c552dcbd1-23c6d5.svg)
  background-size 30px auto
.button-save:before
  background-image url(https://image-hosting.xiaoxili.com/img/img/20200902/1f3d138e3272982e85643efa746273c0-d21fb8.svg)
  background-size 30px auto

