.to-choose
  box-shadow inset 0 0 0 1px #efefef
  width 300px
  height 300px
  margin 0 auto
  background url(https://image-hosting.xiaoxili.com/img/20200812132534.png) no-repeat center / auto 150px

.button-wrap
  margin-top 10px
  display flex
  justify-content center
  font-size 12px
  color #2f3742
  line-height 1.5
  text-align center
  flex-wrap wrap

.buttom-tips
  width 100%
  text-align center
  color #95A1AF
  font-size 12px
  margin-bottom 5px


.button-avatar
.button-camera
  font-size 12px
  line-height 1.25
  padding 10px
  margin 0 10px
  background transparent!important

.button-avatar:before
  content ''
  display block
  margin 0 auto 3px
  width 30px
  height 30px
  background url(https://image-hosting.xiaoxili.com/img/20200812132552.png) no-repeat center / contain


.button-camera:before
  content ''
  display block
  margin 0 auto 3px
  width 30px
  height 30px
  background url(https://image-hosting.xiaoxili.com/img/20200812132611.png) no-repeat center / contain
