.to-choose
  box-shadow inset 0 0 0 1px #efefef
  width 300px
  height 300px
  margin 0 auto
  background url(https://n1image.hjfile.cn/res7/2020/02/13/4b391f3e41cef2d8f387822443eb533b.png) no-repeat center / auto 150px

.button-wrap
  margin-top 10px
  display flex
  justify-content center
  font-size 12px
  color #2f3742
  line-height 1.5
  text-align center
  flex-wrap wrap

.buttom-tips
  width 100%
  text-align center
  color #95A1AF
  font-size 12px
  margin-bottom 5px


.button-avatar
.button-camera
  font-size 12px
  line-height 1.25
  padding 10px
  margin 0 10px
  background transparent!important

.button-avatar:before
  content ''
  display block
  margin 0 auto 3px
  width 30px
  height 30px
  background url(https://n1image.hjfile.cn/res7/2020/02/13/e3c3acc4b66e3715eb59ebc9625527bf.png) no-repeat center / contain


.button-camera:before
  content ''
  display block
  margin 0 auto 3px
  width 30px
  height 30px
  background url(https://n1image.hjfile.cn/res7/2020/02/13/046303789dd41a2f232d799ee18e2a52.png) no-repeat center / contain
