.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add a black background color to the top navigation */
.Navbar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.Navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.Navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.Navbar a.active {
  background-color: #4caf50;
  color: white;
}

/* Simple CSS Spinner for Loading */
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(190, 128, 181, 0.5);
  border-radius: 50%;
  border-top-color: #be80b5;
  animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
