.tab-wrap
  .tab-bd
    background #fff
  .tab-hd
    padding 0 10px
    display flex
  
  .tab-hd-item
    padding 0 10px
    font-size 14px
    line-height 30px

  .tab-hd-active
    background #fff
    color #2f5aff
    font-weight 600

  .tab-hd-image
    height 25px
    width 25px

  .tab-bd-image
    height 50px
    width 50px
    margin 5px

    // @media (max-width 359px) 
    //   width 35px
    //   height 35px
    //   margin 3px
  .tab-bd-image-jiayou
    height 28px
    margin-top 27px
  
  .tab-hd-tips
    font-size 12px
    line-height 30px
    color #95A1AF
    margin-left 15rpx
  
  .shape-select-wrap
    width 100%
    bottom 5px
    white-space nowrap