
.pop-dialog
  position fixed
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex
  justify-content center
  align-items center
  z-index 1

.pop-dialog-bottom
  align-items flex-end
  .pop-main
    width 100%
    border-radius 10px 10px 0 0
  

.pop-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.pop-main {
  width 95%
  background #ffffff
  position relative
  border-radius 10px
}

.pop-body
  padding 10px 5px
  color #95A1AF

.pop-title
  padding 5px
  font-size 20px
  text-align center
  line-height 1.5
  color #2f3742

.pop-footer
  padding 5px
  border-top 1px solid #95A1AF
  font-size 20px
  text-align center
  line-height 1.5
  color #2f5aff
  
