$cubicType = cubic-bezier(0.68, -0.55, 0.265, 1.55)

.menu-choose
  position absolute
  left 50%
  margin-left -45px
  bottom 7px
  z-index 1
  transform translateY(100px)
  transition 0.3s $cubicType transform
  
  &.menu-show
    transform translateY(0)

  &.menu-open
    .menu-item
      opacity 1
      // &:nth-child(1)
      //   transition-delay 0.1s
      //   transform rotate(-60deg) translateY(-85px) rotate(60deg)
      // &:nth-child(2)
      //   transition-delay 0.18s
      //   transform rotate(-20deg) translateY(-85px) rotate(20deg)
      // &:nth-child(3)
      //   transition-delay 0.25s
      //   transform rotate(20deg) translateY(-85px) rotate(-20deg)
      // &:nth-child(4)
      //   transition-delay 0.3s
      //   transform rotate(60deg) translateY(-85px) rotate(-60deg)
      &:nth-child(1)
        transition-delay 0.1s
        transform rotate(-60deg) translateY(-85px) rotate(60deg)
      &:nth-child(2)
        transition-delay 0.18s
        transform translateY(-85px) 
      &:nth-child(3)
        transition-delay 0.25s
        transform rotate(60deg) translateY(-85px) rotate(-60deg)

.bottom-safe-area
  margin-bottom 12px

.menu-choose-btn
  width 90px
  height 90px
  background #f0f5ff 
  border-radius 50%
  position relative
  &:after
    content ''
    display block
    width 100%
    height 100%
    background url(https://image-hosting.xiaoxili.com/img/20200816165127.png) no-repeat center
    background-size 60px

  &:active
    box-shadow 3px 5px 10px rgba(0, 0, 0, 0.05)
    transform scale(0.95)
    &:after
      transform translateY(3px)
      filter: drop-shadow(0 2px 5px rgba(47,90,255, 0.8))
      // filter: drop-shadow(0 2px 5px red)

.menu-item
  position absolute
  width 50px
  height 50px
  border-radius 25px
  background #EBEEFF!important
  font-size 10px
  line-height 1.4
  color #2F3742
  text-align center
  left 50%
  top 50%
  margin -25px 0 0 -25px
  // opacity 0
  transition 0.3s linear transform, 0.3s linear opacity 

  &:before
    content ''
    margin 2px auto 0
    display block
    width 30px
    height 30px
    background-position center
    background-size contain
    background-repeat no-repeat

  &.menu-item-avatar
    &:before
      background-image url(https://image-hosting.xiaoxili.com/img/20200816173636.png)
  &.menu-item-camera
    &:before
      background-image url(https://image-hosting.xiaoxili.com/img/20200816173739.png)
  &.menu-item-album
    &:before
      background-image url(https://image-hosting.xiaoxili.com/img/20200816173759.png)
  &.menu-item-search
    &:before
      background-image url(https://image-hosting.xiaoxili.com/img/20200816173816.png)
  
  
      
