
.list
  padding 0 20px
  display flex
  flex-wrap wrap

.avatar-item
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #D0D0D0
  background #fff
  border-radius: 10px
  overflow hidden
  &:nth-child(3n+1)
  &:nth-child(3n+2)
    margin-right 15px
  
  &:nth-child(n+4)
    margin-top 15px

.avatar-image
  width 100%
  height 100%
  display block

.logo-image
  display block
  width 232px
  height 210px
  margin 0 auto
  opacity 0.3

.empty-text
  text-align center
  color #666
  margin 20px 0
  font-size 12px