.a 
  opacity 1

.face-love-page
  height 100vh
  box-sizing border-box
  padding-top 100px
  background linear-gradient(180deg,rgba(28,37,50,0.45) 0%,rgba(28,37,50,0.7) 76%,rgba(28,37,50,1) 100%)

.page-title
  text-align center
  font-size 24px
  font-weight 600
  color #fff
  line-height 33px

.image-wrap
  margin 30px auto 0
  width 300px
  height 300px
  background #fff

.main-button
  background #3172EE
  font-size 18px
  line-height 60px
  font-weight 600
  position fixed
  color #fff
  left 0
  right 0
  bottom 0
  text-align center
  padding-bottom constant(safe-area-inset-bottom)
  padding-bottom env(safe-area-inset-bottom)

  &:before
    margin-right 5px
    content ''
    display inline-block
    width 27px
    height 20px
    background url(https://n1image.hjfile.cn/res7/2020/04/10/a7da70aed34b938ba0fe348dc055cd1c.png) no-repeat
    background-size contain
    vertical-align middle