.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding-bottom: 47px;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.person {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #25a778;
  float: left;
  margin: 1px;
  flex-shrink: 0;
}
.bad {
  background: red;
}
.light {
  background: #575652;
}
.App-header {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 20px;
  display: block;
}
.split {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
}
section {
  color: white;
}
.bottom-btn {
  border-radius: 0;
}
.sub-title {
  margin-bottom: 30px;
}
.am-wingblank-lg:after {
  display: none;
}
.am-input-label {
  width: 190px !important;
}
.item_click {
  display: flex;
  align-items: center;
}
img {
  width: 80%;
}
.history {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}