
.avatar-list
  overflow hidden
  padding 15px

.avatar-item
  width 165px
  float left
  &:nth-child(2n+1)
    margin-right 15px
  
  &:nth-child(n+3)
    margin-top 15px

.avatar-image
  width 165px
  height 165px
  display block
