.page-avatar-poster
  height 100vh
  padding-top 1px
  background-position center
  background-repeat no-repeat
  background-size 100% auto
  box-sizing border-box
  background-image url(https://image-hosting.xiaoxili.com/img/img/20200910/7972329f6282ca334eca28b132d7f08d-97c01a.jpg)

.page-title
  position relative
  font-size 16px
  font-weight 400
  color #2f3742
  line-height 44px
  height 44px
  text-align center

.page-home
  position absolute
  left 20px
  top 7px
  width 30px
  height 30px
  background url(https://image-hosting.xiaoxili.com/img/img/20200910/5fdfdec1b27efdf9d744e163807ef0ad-10f9cb.svg) no-repeat center
  background-size 18px auto
  border-radius 50%
  box-shadow inset 0 0 0 1px rgba(0, 0, 0, 0.05)

.page-back
  position absolute
  left 20px
  top 7px
  width 30px
  height 30px
  background url(https://image-hosting.xiaoxili.com/img/img/20200906/7ebcfb300011ebfedce3d3633cda6a28-ab9b2d.svg) no-repeat center
  background-size 18px
  border-radius 50%
  box-shadow inset 0 0 0 1px rgba(0, 0, 0, 0.1)

// .age-origin
//   background-image url(https://image-hosting.xiaoxili.com/img/20200812133603.png)

.page-poster-wrap
  margin 15px auto 0
  width 300px
  height 300px
  padding 15px
  border-radius 20px
  background #fff
  box-shadow 0 5px 4px rgba(153, 153, 153, 0.5)
  

.page-poster
  width 300px
  height 300px
  border-radius: 15px
  overflow hidden

.button-wrap
  margin 20px auto 0
  width 330px
  height 54px
  display flex
  justify-content space-evenly

.button
  display block
  overflow visible
  font-size 12px
  line-height 1.5
  text-align center
  &:before
    content ''
    display block
    width 60px
    height 60px
    background #ffffff
    box-shadow 0 0 12px #EFEFEF
    background-position center
    background-repeat no-repeat
    border-radius 50%
    margin-bottom 2px


.button-home:before
  background-image url(https://image-hosting.xiaoxili.com/img/img/20200830/707f0df8a2606d164270542b2807ad63-19e38f.svg)
  background-size 30px auto
.button-share:before
  background-image url(https://image-hosting.xiaoxili.com/img/img/20200830/281332fb70035b5c6d6ec8eecf768257-d3d179.svg)
  background-size 30px auto


.button-poster
.button-try
  display block
  margin 0 auto 6px
  background: linear-gradient(180deg, #FFBE85 0%, #FF238B 100%);
  width 138px
  line-height 44px
  border-radius 13px
  font-size 14px
  color #fff
  text-align center

.button-fixed
  position fixed
  left 50%
  transform translateX(-50%)
  bottom 50px
  text-align center
.poster-dialog
  display none
  position fixed
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content center
  align-items center
  z-index 10
  background-color rgba(0, 0, 0, .8)
  &.show
    display flex

.poster-dialog-main
  position relative

.poster-image-wrap
  overflow hidden
  border-radius 20px
  box-shadow 0 3px 10px rgba(0, 0, 0, 0.1)

.poster-image
  display block
  width (366 * 0.75)px
  height (640 * 0.75)px

.poster-image-tips
  position absolute
  left 0
  top 5px
  padding 3px 8px
  font-size 12px
  line-height 1.5
  color #fff
  background rgba(0, 0, 0, 0.3)
  border-radius 0 12px 12px 0
.poster-footer-btn
  position relative
  display flex
  justify-content center
  margin-top 30px
  width 100%

  .poster-btn-save
    display flex
    justify-content center
    align-items center
    width 118px
    height 40px
    border 1px solid rgba(255, 255, 255, 1)
    color #fff
    // background linear-gradient(60deg, rgba(47, 90, 255, 1) 0%, rgba(0, 147, 255, 1) 100%)
    font-size 15px
    font-weight 400
    line-height 21px
    border-radius 100px

  .poster-btn-share
    display flex
    justify-content center
    align-items center
    // margin-left 33px
    width 118px
    height 40px
    color #fff
    font-size 15px
    font-weight 400
    line-height 21px
    border-radius 100px
    background linear-gradient(180deg, #FFBE85 0%, #FF238B 100%);

  .icon
    margin-right 2px
    width 18px
    height 18px

  .icon-wechat
    margin-right 2px
    width 18px
    height 14px

.poster-dialog-close
  position absolute
  top 0
  right 0
  width 36px
  height 38px
  background url('https://image-hosting.xiaoxili.com/img/20200812133922.png') no-repeat center / 36px 38px



.canvas-poster
  position absolute
  left 0
  top -9999px
  width 600px
  height 600px