.page-avatar-poster
  height 100vh
  background url(https://n1image.hjfile.cn/res7/2020/03/15/107d89ee2b96b8997deaed2b5f275f55.jpg) center no-repeat
  background-size cover
  
.page-title
  padding-top 80PX
  font-size 20px
  line-height 1.5
  color #ffffff
  font-weight 600
  text-align center
.version
  padding 15px 0 20px
  color #95A1AF
  font-size 12px
  text-align center

.page-poster-wrap
  margin 15px auto
  width 300px
  height 300px
  padding 15px
  background #79C0FF
  border-radius 20px
  box-shadow inset 1px 1px 3px rgba(255, 255, 255, 1), 0 9px 8px rgba(0, 0, 0, 0.5)


.page-poster
  width 300px
  height 300px
  border-radius: 15px
  overflow hidden