.next
  position absolute
  width 100%
  top 48px
  z-index 10
  
  .next-icon
    position relative
    left 50%
    margin-left -24px
    width 48px
    height 48px
  .last
    margin-top 5px
    font-size 18px
    color #fff
    line-height 25px
    text-align center

.last-title
  margin-top 3px
  text-align center
  font-size 16px
  padding 0 16px
  color #fff
  line-height 20px

.play-container
  position absolute
  width 100%
  top 64px
  text-align center
  z-index 10

  .pause-icon
    display inline-block
    width 48px
    height 48px
    background url(https://n1image.hjfile.cn/res7/2019/06/11/9c0552de16ec8eb7e41fc146c1f65e66.png) no-repeat
    background-size cover

.replay
  position absolute
  display flex
  bottom 11px
  right 16px
  height 24px
  z-index 10
  align-items center

  .replay-icon
    width 20px
    height 20px
    margin-right 4px

  .text
    font-size 13px
    color #fff

  .shadow
    color #000
    opacity 0.5
    height 100%
