html
  .avatar-edit-page
    height 100%
    max-width 640PX
    margin 0 auto

.avatar-edit-page
  height 100vh
  background #f9f9f9
  overflow hidden
  box-sizing border-box
  display flex
  flex-direction column
  justify-content space-between


.page-title
  padding-left 3px
  font-size 16px
  font-weight 400
  color #2f3742
  line-height 44px

.page-title-icon
  display inline-block
  width 44px
  height 44px
  vertical-align middle
  margin -3px 10px 0 0 

.canvas-shape
  position absolute
  left 0
  top -9999px
  width 600px
  height 600px

.main-wrap
  background #fff
  padding 10px

  @media (max-width 359px)
    padding 5px
  

.test-hat-btn
  position fixed
  right 4px
  top 0
  font-size 12px
  width 14px
  padding 5px
  line-height 1
  border-radius 0 0 15px 15px 
  box-shadow inset 0 0 0 1px #4fa938
  color #4fa938
  text-align center

  &:after
    content ''
    display block
    margin-top 5px
    width 16px
    height 16px
    background url(https://image-hosting.xiaoxili.com/img/20200812132452.png) no-repeat center / contain

.share-btn
  position fixed
  left 4px
  top 0
  font-size 12px
  width 14px
  box-sizing content-box
  padding 5px
  line-height 1
  border-radius 0 0 15px 15px 
  box-shadow inset 0 0 0 1px #2f5aff
  color #2f5aff
  text-align center

.share-btn-icon
  margin 5px auto 0
  width 16px
  height 16px
  background url(https://image-hosting.xiaoxili.com/img/20200812132508.png) no-repeat  center / contain
