.avatar-edit-page
  height 100vh
  box-sizing border-box
  padding-top 44px

.page-title
  padding-left 16px
  font-size 16px
  font-weight 400
  color #2f3742
  line-height 44px


.canvas-shape
  position absolute
  left 0
  top -9999px
  width 600px
  height 600px

.main-wrap
  background #fff
  padding 10px

  @media (max-width 359px)
    padding 5px