.poster-dialog
  display none
  position fixed
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content center
  align-items center
  z-index 10
  background-color rgba(0, 0, 0, .8)
  &.show
    display flex

.poster-dialog-main
  position relative
    
.poster-image
  width 300px
  height 300px

.poster-image-tips
  position absolute
  left 0
  top 5px
  padding 3px 8px
  font-size 12px
  line-height 1.5
  color #fff
  background rgba(0, 0, 0, 0.3)
  border-radius 0 12px 12px 0
.poster-footer-btn
  position relative
  display flex
  justify-content center
  margin-top 15px
  width 100%

  .poster-btn-save
    display flex
    justify-content center
    align-items center
    width 118px
    height 40px
    border 1px solid rgba(255, 255, 255, 1)
    color #fff
    // background linear-gradient(60deg, rgba(47, 90, 255, 1) 0%, rgba(0, 147, 255, 1) 100%)
    font-size 15px
    font-weight 400
    line-height 21px
    border-radius 100px

  .poster-btn-share
    display flex
    justify-content center
    align-items center
    margin-left 33px
    width 118px
    height 40px
    color #fff
    font-size 15px
    font-weight 400
    line-height 21px
    border-radius 100px
    background linear-gradient(60deg, rgba(47, 90, 255, 1) 0, rgba(0, 147, 255, 1) 100%)
    box-shadow 0 2px 6px 0 rgba(47, 90, 255, .2)

  .icon
    margin-right 2px
    width 18px
    height 18px

  .icon-wechat
    margin-right 2px
    width 18px
    height 14px

.poster-dialog-close
  position absolute
  top 0
  right 0
  width 36px
  height 38px
  background url('https://n1image.hjfile.cn/res7/2019/01/10/b18454c07e26f34cbec2fb10474c4a6c.png') no-repeat center / 36px 38px