html
  .shape-page
    height 100%
    max-width 640PX
    margin 0 auto

.shape-page
  height 100vh
  background #f9f9f9
  overflow hidden
  display flex
  flex-direction column
  justify-content space-between

.header-bar
  position fixed
  top 0
  left 0
  right 0
  margin 0 auto
  width 100px
  border-radius 0 0 6px 6px
  font-size 14px
  line-height 1.8
  background #fff
  border 1px dashed #efefef
  border-top none
  text-align center
  z-index 1
.main-wrap
  background #fff
  padding 10px

  @media (max-width 359px)
    padding 5px

.to-choose
  border 1px dashed #efefef
  width 298px
  height 298px
  margin 0 auto
  background url(https://n1image.hjfile.cn/res7/2020/02/13/4b391f3e41cef2d8f387822443eb533b.png) no-repeat center / auto 150px

.image-position
  position relative
  width 300px
  height 300px
  overflow hidden
  margin 0 auto


.canvas-shape-good
  position absolute
  left 0
  top 0
  width 300px
  height 300px
  overflow hidden
  margin 0 auto

.canvas-shape
  position absolute
  left 0
  top -9999px
  width 600px
  height 600px




.image-wrap
  position relative
  width 300px
  height 300px

.image-selected
  width 300px
  height 300px

.image-jiayou
  position absolute
  left 0
  right 0
  bottom 0
  height 169px

  image
    width 100%
    height 100%

.image-btn-jiayou
  position absolute
  left 5px
  top 59px
  width 20px
  height 20px
  background url(https://n1image.hjfile.cn/res7/2020/02/09/2c591b8d9d1c75d1e4d8804e710dc086.png) no-repeat center / contain

.button-wrap
  margin-top 10px
  display flex
  justify-content center
  font-size 12px
  color #2f3742
  line-height 1.5
  text-align center
  flex-wrap wrap

.buttom-tips
  width 100%
  text-align center
  color #95A1AF
  font-size 12px
  margin-bottom 5px

.button-remove,
.button-download
  padding-top 40px
  width 60px
  font-size 10px
  background-size auto 40px
  background-repeat no-repeat
  background-position center top

  @media (max-width 359px)
    padding-top 32px
    background-size auto 30px

.button-remove
  background-image url(https://n1image.hjfile.cn/res7/2020/02/01/63e0c77558a7bc50c4f2666b8df449e0.png)

.button-download
  background-image url(https://n1image.hjfile.cn/res7/2020/02/01/8fb88a2a273c37c6098966681c402f21.png)


.button-avatar
.button-camera
  font-size 12px
  line-height 1.25
  padding 10px
  margin 0 10px
  background transparent!important

.button-avatar:before
  content ''
  display block
  margin 0 auto 3px
  width 30px
  height 30px
  background url(https://n1image.hjfile.cn/res7/2020/02/13/e3c3acc4b66e3715eb59ebc9625527bf.png) no-repeat center / contain


.button-camera:before
  content ''
  display block
  margin 0 auto 3px
  width 30px
  height 30px
  background url(https://n1image.hjfile.cn/res7/2020/02/13/046303789dd41a2f232d799ee18e2a52.png) no-repeat center / contain

.shape-container
  height 100px
  width 100px
  position absolute
  left 0
  top 0
  border dashed 1px yellow

.shape
  width 100%
  height 100%

.bottom-tips-wrap
  padding 10px 0
  font-size 12px
  line-height 1.5
  color #95A1AF
  word-break break-all
  text-align center

.shape-select-wrap
   width 100%
   bottom 5px
   white-space nowrap


.style-list-wrap
  padding 0 10px
  display flex
  justify-content space-evenly

// .style-item
//   margin 0 20px

.style-item-active
  .style-item-image
    box-shadow 0 0 0 1px #2f5aff
  .style-item-text
    color #2f5aff
.style-item-image
  display block
  width 45px
  height 45px
  border-radius 3px

.style-item-text
  margin-top 2px
  font-size 10px
  line-height 1.25
  color #2f3742
  text-align center

.tab-wrap
  .tab-bd
    background #fff
  .tab-hd
    padding 0 10px
    display flex
  
  .tab-hd-item
    padding 0 10px
    font-size 14px
    line-height 30px

  .tab-hd-active
    background #fff
    color #2f5aff
    font-weight 600

  .tab-hd-image
    height 25px
    width 25px

  .tab-bd-image
    height 50px
    width 50px
    margin 5px

    // @media (max-width 359px) 
    //   width 35px
    //   height 35px
    //   margin 3px
  .tab-bd-image-jiayou
    height 28px
    margin-top 27px
  
  .tab-hd-tips
    font-size 12px
    line-height 30px
    color #95A1AF
    margin-left 15rpx



.image-btn-resize-test,
  position absolute
  z-index 1
  width:20px
  height:20px
  background red
  
.image-btn-resize,
.image-btn-remove 
.image-btn-checked
.image-btn-reverse
  position absolute
  z-index 1
  width:20 * 1.3px
  height:20 * 1.3px

.image-btn-resize 
  right 0
  bottom 0
  margin-right -10 * 1.3px
  margin-bottom -10 * 1.3px
  background url(https://n1image.hjfile.cn/res7/2020/02/09/9b5c2be4361101b155a604e6735a8ad3.png) no-repeat center / contain
  
.image-btn-remove 
  left 0
  top 0
  margin-left -10 * 1.3px
  margin-top -10 * 1.3px
  background url(https://n1image.hjfile.cn/res7/2020/02/09/2c591b8d9d1c75d1e4d8804e710dc086.png) no-repeat center / contain


.image-btn-checked 
  right 0
  top 0
  margin-right -10 * 1.3px
  margin-top -10 * 1.3px
  background url(https://n1image.hjfile.cn/res7/2020/02/11/0b05b7bc398a85da11ff1eb97ed03e1f.png) no-repeat center / contain

.image-btn-reverse
  left 0
  bottom 0
  margin-left -10 * 1.3px
  margin-bottom -10 * 1.3px
  background url(https://n1image.hjfile.cn/res7/2020/02/16/0807e31c8557a250cc24f9e089fbb41d.png) no-repeat center / contain

.test-hat-btn
  position fixed
  right 4px
  top 0
  font-size 12px
  width 14px
  padding 5px
  line-height 1
  border-radius 0 0 15px 15px 
  box-shadow inset 0 0 0 1px #4fa938
  color #4fa938
  text-align center

  &:after
    content ''
    display block
    margin-top 5px
    width 16px
    height 16px
    background url(https://n1image.hjfile.cn/res7/2020/03/15/0e54280cbd8d50a0155c468b5af36e34.png) no-repeat center / contain

.share-btn
  position fixed
  left 4px
  top 0
  font-size 12px
  width 14px
  box-sizing content-box
  padding 5px
  line-height 1
  border-radius 0 0 15px 15px 
  box-shadow inset 0 0 0 1px #2f5aff
  color #2f5aff
  text-align center

.share-btn-icon
  margin 5px auto 0
  width 16px
  height 16px
  background url(https://n1image.hjfile.cn/res7/2020/02/09/6cd2bcc0f4551bf3088f6de4111b50d9.png) no-repeat  center / contain



.poster-dialog
  display none
  position fixed
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content center
  align-items center
  z-index 10
  background-color rgba(0, 0, 0, .8)
  &.show
    display flex

.poster-dialog-main
  position relative
    
.poster-image
  width 300px
  height 300px

.poster-image-tips
  position absolute
  left 0
  top 5px
  padding 3px 8px
  font-size 12px
  line-height 1.5
  color #fff
  background rgba(0, 0, 0, 0.3)
  border-radius 0 12px 12px 0
.poster-footer-btn
  position relative
  display flex
  justify-content center
  margin-top 15px
  width 100%

  .poster-btn-save
    display flex
    justify-content center
    align-items center
    width 118px
    height 40px
    border 1px solid rgba(255, 255, 255, 1)
    color #fff
    // background linear-gradient(60deg, rgba(47, 90, 255, 1) 0%, rgba(0, 147, 255, 1) 100%)
    font-size 15px
    font-weight 400
    line-height 21px
    border-radius 100px

  .poster-btn-share
    display flex
    justify-content center
    align-items center
    margin-left 33px
    width 118px
    height 40px
    color #fff
    font-size 15px
    font-weight 400
    line-height 21px
    border-radius 100px
    background linear-gradient(60deg, rgba(47, 90, 255, 1) 0, rgba(0, 147, 255, 1) 100%)
    box-shadow 0 2px 6px 0 rgba(47, 90, 255, .2)

  .icon
    margin-right 2px
    width 18px
    height 18px

  .icon-wechat
    margin-right 2px
    width 18px
    height 14px

.poster-dialog-close
  position absolute
  top 0
  right 0
  width 36px
  height 38px
  background url('https://n1image.hjfile.cn/res7/2019/01/10/b18454c07e26f34cbec2fb10474c4a6c.png') no-repeat center / 36px 38px