html
  .self-page
    height 100%
    max-width 640PX
    margin 0 auto


.self-page

  height 100vh
  overflow hidden
  box-sizing border-box
  display flex
  flex-direction column
  background url(https://image-hosting.xiaoxili.com/img/img/20200902/6bca238ae5861b90d8bce39bdba4690b-9324c0.png)  center top no-repeat
  background-size 100% auto

.page-title
  text-align center
  font-size 16px
  font-weight 400
  color #2f3742
  line-height 44px
  height 44px

.main-wrap
  height calc(100% - 94px)
  display flex
  flex-direction column
  padding-top 1px
  // height calc(100 - 50px)


.user-wrap
  padding 20px
  .avatar
    margin 0 auto
    width 96px
    height 96px
    padding 4px
    border-radius 50%
    overflow hidden
    background rgba(254, 155, 14, 0.68)
    // https://image-hosting.xiaoxili.com/img/img/20200830/0fe1c28d48746cbe10c92148433b8cd9-4ecb53.png

    & > image
      display block
      width 96px
      height 96px
      border-radius 50%
  
  .nick-name
    margin-top 6px
    font-size 20px
    line-height 1.4
    color #464D5C
    text-align center
  
  .address-text
    font-size 16px
    line-height 1.4
    color #464D5C
    text-align center

.login-wrap
  flex 1
  display flex
  flex-direction column
  justify-content center
  align-items center

  .logo-image
    display block
    width 232px
    height 210px
    margin 0 auto -10px
    opacity 0.1
  .login-button
    display block
    margin 0 auto 6px
    background  linear-gradient(#FFCD36, #FF6800)
    width 138px
    line-height 44px
    border-radius 18px
    font-size 14px
    color #fff

  .login-tips
    font-size 12px
    text-align center
    color rgba(70, 77, 92, 0.49)
.avatar-wrap
  height calc(100% - 200px)
  padding-bottom 10px
.list-wrap
  margin-top 10px
  background #fff

  .item
    position relative
    padding 20px
    font-size 14px
    line-height 1.5
    color #2D3742
    display flex
    align-items center

    &:nth-child(n+2)
      border-top 1px solid #eee
    
  .item-image
    margin-right 30px
    width 40px
    height 40px
  
  .item-icon
    position absolute
    right 10px
    top 50%
    margin-top -10px
    width 20px
    height 20px
    background url(https://image-hosting.xiaoxili.com/img/20200812134012.png) no-repeat
    background-size contain

