html
  .self-page
    height 100%
    max-width 640PX
    margin 0 auto


.self-page

  height 100vh
  overflow hidden
  box-sizing border-box
  display flex
  flex-direction column

.main-wrap
  flex 1
  display flex
  flex-direction column
  padding-top 1px
  // height calc(100 - 50px)


.user-wrap
  display flex
  background #FFF7D5
  margin 15px 20px 0
  padding 20px
  box-shadow 0 2px 7px rgba(142, 115, 0, 0.26)
  .avatar
    margin-right 20px
    width 70px
    height 70px
    border-radius 50%
    overflow hidden
    background #eee
    // https://image-hosting.xiaoxili.com/img/img/20200830/0fe1c28d48746cbe10c92148433b8cd9-4ecb53.png

    & > image
      display block
      width 100%
      height 100%
  
  .user-main
    display flex
    flex-direction column
    justify-content center

  .nick-name
    font-size 20px
    line-height 1.4
    color #464D5C
  
  .address-text
    font-size 16px
    line-height 1.4
    color #464D5C

.login-wrap
  flex 1
  display flex
  flex-direction column
  justify-content center
  align-items center

  .logo-image
    display block
    width 232px
    height 210px
    margin 0 auto 50px
  .login-button
    display block
    margin 0 auto 6px
    background  linear-gradient(270deg, #FF9900, #FFCD36)
    width 138px
    line-height 44px
    border-radius 13px
    font-size 14px
    color #fff

  .login-tips
    font-size 12px
    text-align center
    color rgba(70, 77, 92, 0.49)
.avatar-wrap
  flex 1
  margin-top 40px
  padding-bottom 10px
.list-wrap
  margin-top 10px
  background #fff

  .item
    position relative
    padding 20px
    font-size 14px
    line-height 1.5
    color #2D3742
    display flex
    align-items center

    &:nth-child(n+2)
      border-top 1px solid #eee
    
  .item-image
    margin-right 30px
    width 40px
    height 40px
  
  .item-icon
    position absolute
    right 10px
    top 50%
    margin-top -10px
    width 20px
    height 20px
    background url(https://image-hosting.xiaoxili.com/img/20200812134012.png) no-repeat
    background-size contain


.version
  padding 15px 0 20px
  color #95A1AF
  font-size 12px
  text-align center