.theme-scroll
  height 100%

.theme-item
  padding 30px 0

.theme-header
  display flex
  padding 0 20px
  align-items center

.theme-cover
  display block
  width 160px
  height 160px
  border-radius 40px
  margin-right 20px
  box-shadow 0 0 3px rgba(0, 0, 0, 0.1)

.theme-main
  flex 1

.share-title
  font-size 22px
  line-height 30px
  color #2F3742

.share-desc
  margin-top 6px
  font-size 14px
  line-height 20px
  color #687583

.category-item
  margin-top 20px

.category-image
  margin-left 20px
  display block
  width 28px
  height 28px

.shape-list
  display flex
  flex-wrap wrap
  padding 0 16px

.shape-item
  width 60px
  height 60px
  margin 0 4px