.theme-scroll
  height 100%

.theme-item
  padding 30px 0

.theme-header
  position relative
  display flex
  margin 0 20px
  align-items center
  padding 17px 10px
  background #fff
  border-radius 10px
  box-shadow 0 0 3px rgba(0, 0, 0, 0.1)

.theme-cover
  display block
  width 160px
  height 160px
  border-radius 35px
  margin-right 20px
  background #E6E2FF

.theme-main
  flex 1

.share-title
  font-size 22px
  line-height 30px
  color #2F3742

.share-desc
  margin-top 6px
  font-size 14px
  line-height 20px
  color #687583

.theme-wrap
  padding-top 1px
  background #fff
.category-item
  margin-top 20px

.category-hd
  display flex
  line-height 28px

.category-image
  margin 0 10px 10px 20px
  display block
  width 28px
  height 28px
  box-shadow 0 0 2px rgba(157, 157, 157, 0.2)

.shape-list
  display flex
  flex-wrap wrap
  padding 0 16px

.shape-item
  padding 5px
  width 90px
  height 90px
  margin 0 4px
  box-shadow 0 0 4px rgba(157, 157, 157, 0.2)