.tab-bar
  // position fixed
  // left 0
  // right 0
  // bottom 0
  // z-index 10000
  // height 50px
  // padding-bottom 34px
  background rgba(222,232,255,0.2)
  display flex
  justify-content space-between
.tab-bar-item
  width 100px
  height 50px
  font-size 12px
  line-height 17px
  color #95A1AF
  text-align center
  overflow hidden
.tab-bar-holder
  width 100px
  height 50px
  border-radius 0 0 50px 50px
  background #fff
  margin-top -50px
.tab-bar-image
  width 30px
  height 30px
  display block
  margin 5px auto -3px

.tab-item-hide
  .tab-bar-holder
    margin-top 0
.tab-item-active
  color #2F3742

.bottom-safe-area
  padding-bottom 12px