$smallSize = 60px
$cubicType = cubic-bezier(0.68, -0.55, 0.265, 1.55)
.tab-bar
  // background rgba(222,232,255,0.2)
  background #f7f9ff
  display flex
  justify-content space-between
  filter: drop-shadow(0 -5px 5px #EEEEEE)

.tab-bar-item
  width 110px
  height 50px
  font-size 12px
  line-height 17px
  color #95A1AF
  text-align center
  margin-top 0
  transition 0.3s $cubicType margin-top
  position relative
  &:before
    content ''
    position absolute
    left 50%
    margin-left -($smallSize /2)
    right 0
    top 0
    width $smallSize 
    height ($smallSize /2)
    background #f7f9ff
    border-radius ($smallSize /2) ($smallSize /2) 0 0
    transition 0.3s linear top

  &:after
    content ''
    position absolute
    left 0
    right 0
    top 50px
    width 110px
    height 110px
    border-radius 55px
    background #fff
    opacity 0
    transition 0.3s $cubicType transform
.tab-bar-image
  position relative
  width 30px
  height 30px
  display block
  margin 5px auto -3px

.tab-item-active
  &:before
    top -($smallSize /2 - 9px)
    transition-delay .15s
.tab-item-hide
  &:before
    top 0

  &:after
    opacity 1
    transform translateY(-108px)
  .tab-bar-image
    margin-top -101px
    opacity 0
  .tab-bar-text
    opacity 0

    
.tab-item-active
  color #2F3742

.bottom-safe-area
  padding-bottom 12px