.tab-bar
  // position fixed
  // left 0
  // right 0
  // bottom 0
  // z-index 10000
  // height 50px
  // padding-bottom 34px
  display flex
  justify-content space-between

.tab-bar-image
  width 30px
  height 30px

.bottom-safe-area
  padding-bottom 12px