.image-watermark-page
  min-height 100vh
  box-sizing border-box
  padding-top 44px
  padding-bottom 44px

  .page-title
    padding-left 30px
    font-size 24px
    font-weight 600
    line-height 44px



  .image-wrap
    position relative
    margin 10px auto 0
    width 300px

  .shape-wrap
    position relative

  .toggle-tips
    position absolute
    left 5px
    top 5px
    padding 5px
    color #fff
    background rgba(0, 0, 0, 0.3)

  .toggle-button
    position absolute
    right 5px
    top 5px
    padding 5px
    color #fff
    background #3172EE
    border-radius 5px

  .toggle-check
    position absolute
    left 0
    right 0
    bottom 0
    padding 5px
    color #fff
    background #3172EE
    border-radius 5px
    text-align center

  .to-choose
    border 1px dashed #efefef
    width 298px
    height 298px
    margin 0 auto
    background url(https://n1image.hjfile.cn/res7/2020/02/13/4b391f3e41cef2d8f387822443eb533b.png) no-repeat center / auto 150px


  .image-selected
  .image-saved-selected
    width 300px
    height 300px

    & > img
      width 100%
      height 100%
      object-fit contain

  .image-saved-wrap
    position absolute
    left 0
    right 0
    top 0


  .button-wrap
    margin-top 10px
    display flex
    justify-content center
    font-size 12px
    color #2f3742
    line-height 1.5
    text-align center
    flex-wrap wrap

  .buttom-tips
    width 100%
    text-align center
    color #95A1AF
    font-size 12px
    margin-bottom 5px


  .button-remove,
  .button-download
    padding-top 40px
    width 60px
    font-size 10px
    background-size auto 40px
    background-repeat no-repeat
    background-position center top

    @media (max-width 359px)
      padding-top 32px
      background-size auto 30px

  .button-remove
    background-image url(https://n1image.hjfile.cn/res7/2020/02/01/63e0c77558a7bc50c4f2666b8df449e0.png)

  .button-download
    background-image url(https://n1image.hjfile.cn/res7/2020/02/01/8fb88a2a273c37c6098966681c402f21.png)


  .image-tips
    margin-top 10px
    font-size 14px
    line-height 1.5
    text-align center


  .main-button
    position fixed
    left 0
    right 0
    bottom 0
    
    padding-bottom constant(safe-area-inset-bottom)
    padding-bottom env(safe-area-inset-bottom)

    background #3172EE
    font-size 18px
    line-height 60px
    font-weight 600
    color #fff
    text-align center
    letter-spacing 3px

    &:before
      content ''
      display inline-block
      width 27px
      height 27px
      background url(https://n1image.hjfile.cn/res7/2020/04/12/f6857ca8693d20c87465a0ea1cf236b6.png) no-repeat
      background-size contain
      vertical-align middle
      margin -3px 8px 0 0
    
  .type-group
    text-align center
    margin 15px 0
  .type-radio
    margin 0 5px
    font-size 14px


  .water-text-input
    width 296px
    border 1px solid #2f3742
    display block
    margin 0 auto
    padding 0 10px
    font-size 14px
    line-height 2
    height 28px

  .image-water-selected
    position relative
    background rgba(0, 0, 0, 0.1)
    width 100px
    margin 0 auto

  .image-water
    width 100px
    height 100px

    & > img
      width 100%
      height 100%
      object-fit contain
    

  .to-choose-water
    border 1px dashed #efefef
    width 100px
    height 100px
    margin 0 auto
    background url(https://n1image.hjfile.cn/res7/2020/02/13/4b391f3e41cef2d8f387822443eb533b.png) no-repeat center / auto 50px


  .image-btn-remove 
    position absolute
    z-index 1
    width:20 * 1.3px
    height:20 * 1.3px
    right 0
    top 0
    margin-left -10 * 1.3px
    margin-top -10 * 1.3px
    background url(https://n1image.hjfile.cn/res7/2020/02/09/2c591b8d9d1c75d1e4d8804e710dc086.png) no-repeat center / contain
