.canvas-item
  background rgba(0, 0, 0, 0.8)
  position relative

.canvas-fullscreen
  width 100%
  height 100%

.cut-canvas-item
  position absolute
  
.taro-cropper
  position relative

.taro-cropper-fullscreen
  position fixed
  left 0
  top 0
  width 100%
  height 100%

html .taro-tabbar__container .taro-cropper-fullscreen
  height calc(100% - 50px)
