html
  .theme-list-page
    height 100%
    max-width 640PX
    margin 0 auto

  .main-wrap
    height calc(100% - 94px)

.theme-list-page
  height 100vh
  overflow hidden
  box-sizing border-box
  display flex
  flex-direction column
  background #FBFAFF url(https://image-hosting.xiaoxili.com/img/img/20200910/4cf6828fad66fa49a82845d8dce7cf8d-d5d923.png) no-repeat
  background-size contain

.page-title
  text-align center
  font-size 16px
  font-weight 400
  color #fff
  line-height 44px
  height 44px

.main-wrap
  flex 1

.theme-tabs
  height 100%

.tabs-bar-inner
  padding 42px 20px 20px
  white-space nowrap

.tabs-bar-item
  width 70px
  display inline-block
  padding 13px 15px
  background #fff
  
  margin-right 10px
  border-radius 30px

.bar-image
  display block
  width 70px
  height 70px
  border-radius 20px
.bar-text
  margin 8px auto 0
  color #333
  width 60px
  padding 0 5px
  text-align center
  font-size 16px
  line-height 28px

.bar-active
  box-shadow: 2px 6px 20px 0px rgba(255, 101, 178, 0.3);
  .bar-text
    color #FF3271

.theme-swiper
  height calc(100% - 168px)