html
  .theme-list-page
    height 100%
    max-width 640PX
    margin 0 auto

  .main-wrap
    height calc(100% - 94px)

.theme-list-page
  height 100vh
  overflow hidden
  box-sizing border-box
  display flex
  flex-direction column
  background #FBFAFF

.page-title
  text-align center
  font-size 16px
  font-weight 400
  color #2f3742
  line-height 44px
  height 44px

.main-wrap
  flex 1

.theme-tabs
  height 100%

.tabs-bar-inner
  padding 20px 0
  white-space nowrap

.tabs-bar-item
  width 70px
  display inline-block
  padding 13px 15px
  background #fff
  
  margin-right 10px
  border-radius 30px

  &:first-child
    margin-left 20px
  &:last-child
    margin-right 20px

.bar-image
  display block
  width 70px
  height 70px
  border-radius 20px
.bar-text
  margin 8px auto 0
  color #333
  width 60px
  padding 0 5px
  text-align center
  font-size 16px
  line-height 28px

.bar-active
  box-shadow 2px 8px 20px rgba(255, 85, 137, .2)
  .bar-text
    color #FF3271

.theme-swiper
  height calc(100% - 168px)