

.video-container
  position relative
  height 210px

.try-study
  position absolute
  bottom 18px
  left 16px
  width 70px
  height 20px
  z-index 10
  background url(https://n1image.hjfile.cn/res7/2019/06/05/b6166c07e77da8054f93e0ad6fa6c6e8.png) no-repeat
  background-size cover

.replay
  position absolute
  display flex
  bottom 11px
  right 16px
  height 24px
  z-index 10
  align-items center

  .replay-icon
    width 24px
    height 24px
    margin-right 4px

  .text
    font-size 13px
    color #fff

.poster
  position absolute
  z-index 2
  top 0
  left 0
  width 375px
  height 210px

.video
  width 100%
