.list-item
  display flex
  justify-content space-between
  color #2f3742
  line-height 1.5
  margin 10px 0

.list-item-right
  width 150px


.app-br
  padding-top 10px

.item_click {
  display: flex;
  align-items: center;
}