.user-info
  display flex
  flex-direction column
  align-items center


.dialog-fixed
  position fixed
  left 30px
  right 30px
  top 180px
  height 300px
  background rgba(0, 0, 0, 0.3)
  color red
  border 1px solid blue

.user-info-avatar
  width 128px
  height 128px
  margin 20px
  border-radius 50%


.user-info-nickname
  color #aaa


.unlogin-img
  width 375px
  height 268px
  
.discover
  text-align center

  .discovery-text
    color #95A1AF
    font-size 16px
    line-height 22px

  .discovery-btn
    display inline-block
    width 186px
    cursor pointer
    color #fff
    line-height 40px
    font-size 16px
    margin-top 19px
    background linear-gradient(60deg,rgba(47,90,255,1), rgba(0,147,255,1))
    box-shadow 0px 2px 6px 0px rgba(47,90,255,0.2)
    border-radius 40px
  
.account
  box-sizing border-box
  height 37px
  border solid 1px #ECEDF2
  font-size 13px
  padding 0 18px
  border-radius 19px
  text-align left
  width 100%

.group-wrap
  background #ffffff
  padding 15px
  border-radius 6px
  margin 0 18px
  margin-top 35px
  .login-btn
    margin 15px auto 0
