.page-loading
.page-loading-fullscreen
  min-height 100%
  // background #0E1226

  .page-loading-square
    position absolute
    top 45%
    left 50%
    transform translate(-50%, -50%)
    padding 25px
    background rgba(0,0,0,0.1)
    border-radius 12px
    font-size: 12px
    line-height: 1.5
  .loading-icon-wrap
    position relative
    width 30px
    height 30px
    overflow hidden
    margin 0 auto 15px
  .loading-icon
    width 100% * 17
    height 100%
    background url(https://image-hosting.xiaoxili.com/img/20200812131849.png) 0 0 no-repeat
    background-size auto 100%
    animation page-loading-animate 1s steps(1) infinite

    image
      display block
      width 100%
      height 100%

@keyframes page-loading-animate
  for i in 0..17
    {5.88% * i}
      transform translateX(-(i * 5.88%))

.page-loading-fullscreen
  position fixed
  height 100vh
  left 0
  right 0
  top 0
  bottom 0
  z-index 1000


// --- 骨架 ---
.page-placeholder
  .type-image
    width 100%
    height 150px
    background-color #F4F4F4
    border-radius 5px

  .type-line-max
    width 100%
    height 25px
    background-color #F4F4F4
    border-radius 17px

  .type-line-half
    width 50%
    height 25px
    background-color #F4F4F4
    border-radius 17px

  .type-line-more-half
    width 70%
    height 25px
    background-color #F4F4F4
    border-radius 17px

  .type-avatar
    width 44px
    height 44px
    background-color #F4F4F4
    border-radius 50%

  .type-btn
    margin auto
    width 184px
    height 40px
    background-color #F4F4F4
    border-radius 20px

